
# Environment variables
.env
.env.*
!.env.example

# Dependencies
node_modules/

# Playwright Test Outputs & Reports
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
